/* mon code ex 12 */
#ex12 .box {
  transition-property: background-color;
  transition-duration: 0.5s;
  transition: transform 0.2s;
}

#ex12 .box:hover {
  background-color: blue;
}
#ex12 .box:nth-child(1):hover {
  background-color: blue;
  transform: scale(1.2);
}
#ex12 .box:nth-child(2):hover {
  background-color: blue;
  transform: scale(1.2);
}
#ex12 .box:nth-child(3):hover {
  background-color: blue;
  transform: scale(1.2);
}

/* mon code ex 12 */
#ex01 .l-col {
  transition-property: background-color;
  transition-duration: 0.5s;
  transition: transform 0.2s;
}

#ex01 .recipe:hover {
  transform: scale(1.1);
  transition: transform 0.2s;
}
